<h1>REST API Call</h1>

<h2>Get Data through API call</h2>
<button (click)="getUsers()" >Get Data</button>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Branch Name</th>
    <th>Commit Message</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.branchName}}</td>
    <td>{{user.commitMessage}}</td>
  </tr>
</table>

<br><br>
<h2>Add Data through API call</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label>Branch Name : </label>
  <input type="text" formControlName="branchName" placeholder="Enter Branch Name">
  <br><br>
  <label>Commit Message : </label>
  <input type="text" formControlName="commitMessage" placeholder="Enter Commit Message">
  <br><br>
  <button type="submit">Add User</button>
</form>